# Environment variables - JANGAN pernah di-commit!
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest cache
.pytest_cache/
.coverage

# Folder pipeline runtime
input/*
archive/*
quarantine/*
logs/*

# Kecualikan .gitkeep agar folder tetap muncul di GitHub
!input/.gitkeep
!archive/.gitkeep
!quarantine/.gitkeep
!logs/.gitkeep

# VS Code
.vscode/

# Package install
*.egg-info/
dist/
build/

# OS files
.DS_Store
Thumbs.db